:root {
    font-family: "Open Sans", sans-serif;
}

#sketch {
    align-items: center;
}

#sketch canvas {
    display: block;
    margin: auto;
}

#settings {
    position: absolute;
    left: calc(50% + 450px);
    top: 100px;
    width: 300px;
    height: max-content;
    text-align: center;
    padding: 20px 20px 30px;

    border: 1px solid black;
    background-color: #fafafa;
}

.settings-row {
    display: flex;
    padding: 3px 0;
}

.settings-col-left {
    flex: 50%;
    text-align: right;
}

.settings-col-right {
    flex: 50%;
    text-align: left;
}

.settings-switch {
    display: inline-block;
    margin-top: 5px;
    margin-left: 20px;
    width: 16px;
    height: 16px;
}

.settings-number {
    display: inline-block;
    margin-left: 20px;
    width: 50px;
}

#replay-btn-div {
    position: absolute;
    left: max(calc(50% + 195px), 695px);
    top: 400px;
    width: 100px;
}

#replay-btn {
    visibility: hidden;
}
